<mat-toolbar>
  <div class="inline">
    <div class="material-symbols-outlined">Cast</div>
    <h3 class="title">Streaming Service</h3>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="palette">
    <span class="material-symbols-outlined">
      dark_mode
    </span>
    <mat-slide-toggle [hideIcon]="true" (checked)="checked" (change)="switchTheme($event)"
      (toggleChange)="themeSelected">
      {{ themeSelected | async }}
    </mat-slide-toggle>
  </div>
</mat-toolbar>
<main class="inline-content">
  <section class="video">
    <video autoplay buffered controls muted>
      <source [src]="" type="video/webm">
    </video>
  </section>
  <section class="list">
    <cdk-virtual-scroll-viewport class="viewport">
      <ng-container>
        <mat-list>
          <div class="spinner" *ngIf="!loaded">
            <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'indeterminate'">
            </mat-progress-spinner>
          </div>
          <div class="mat-list-padding" *ngIf="loaded">
            <mat-list-item id="item" *ngFor="let video of videos">
              <a target="_self">{{ video }}</a>
            </mat-list-item>
          </div>
        </mat-list>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </section>
</main>
<span class="version-info">Current build: {{ version }} - Current Angular Version: {{VERSION}}</span>
<router-outlet></router-outlet>