.inline-toolbar {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80% 20%;
  grid-template-areas: "logo menu";
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
  font-size: 1em;
  line-height: 1em;
  justify-content: flex-start;
  justify-items: flex-start;
  display: grid;
  grid-area: logo;
}

.title {
  width: 100%;
  line-height: 1em;
  height: 1em;
  display: grid;
  justify-content: flex-start;
  justify-items: flex-start;
  margin-left: 1em;
  grid-area: logo;
}

.divider {
  width: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: 0;
}

.palette {
  display: grid;
  grid-area: menu;
  justify-items: flex-end;
  font-size: 1em;
  line-height: 1em;
}
