// @import "../custom-theme.scss";
// @include light-theme;
// @include primary;
// @include accent;
// @include warn;

.inline-toolbar {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 90% 10%;
  grid-template-areas: "logo palette";
  height: 2em;
  line-height: 2em;
}

.title {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2em;
  line-height: 2em;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  height: 1.4em;
  line-height: 1.4em;
  margin-right: .5em;
}

.divider {
  width: 0;
  height: 1em;
  margin: auto;
  height: 1em;
}

.palette {
  display: grid;
  grid-area: palette;
  justify-items: flex-end;
  font-size: 1em;
  line-height: 1em;
}
