@import "../custom-theme.scss";

$primary: map-get($dark-theme, primary);

$accent: map-get($dark-theme, accent);

$warn: map-get($dark-theme, warn);

.inline {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "icon title";
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
  font-size: 2em;
  line-height: 2em;
  display: flex;
  flex-direction: row;
  grid-area: icon;
}

.title {
  font-size: 2em;
  line-height: 2em;
  display: flex;
  flex-direction: row;
  grid-area: title;
}

.divider {
  width: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: 0;
}

.palette {
  display: flex;
  flex-direction: row;
  justify-items: center;
  font-size: 1em;
  line-height: 1em;
}

.inline-content {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 85%;
  grid-template-areas: "video titles";
  border: 1px dotted rgb(86, 95, 105);
}

video {
  height: 90vh;
  width: 70vw;
}

.video {
  display: grid;
  grid-area: video;
  height: 100%;
}

.list {
  display: grid;
  grid-area: titles;
  height: 100%;
  padding-inline: 1em .5em;
  writing-mode: horizontal-tb;
  direction: ltr;
  border: 1px dotted slategray;
}

.list mat-list mat-list-item>a {
  // margin: .5em;
  // padding: .5em;
  font-size: 1em;
  line-height: 1em;
  text-overflow: ellipsis;
  padding-inline: 1em .2em;
  // writing-mode: sideways-rl;
  direction: rtl;
  margin-inline: 1em .2em;
  // writing-mode: sideways-rl;
  cursor: pointer;
}

#item::after {
  // BREAK LINE AFTER EACH LINK
  content: "\a";
  white-space: pre;
}

.spinner {
  width: 120px;
  height: 120px;
  color: #4c7684;
}

.viewport {
  width: 100%;
  height: 720px;
  min-height: 720px;
  overflow-y: scroll;
}

.viewport::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.viewport::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // border-radius: 10px;
  // background-color: mat-color($accent);
  display: none;
}

.viewport::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #373a3b;
}
