<mat-toolbar [ngClass]="{'dark-theme': themeSelected.value === 'dark', 'light-theme': themeSelected.value === 'light'}">
  <div class="inline">
    <div class="material-symbols-outlined">Cast</div>
    <h3 class="title">Streaming Service</h3>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="palette">
    <mat-slide-toggle [hideIcon]="true" (checked)="checked" (change)="switchTheme($event)"
      (toggleChange)="themeSelected">
      {{ themeSelected | async }}
    </mat-slide-toggle>
  </div>
</mat-toolbar>
<span class="version-info">Current build: {{ version }}</span>
<main class="inline-content"
  [ngClass]="{'dark-theme': themeSelected.value === 'dark', 'light-theme': themeSelected.value === 'light'}">
  <section class="video" *ngIf="src">
    <video id="player" buffered controls autoplay [src]="src">
      <source [type]="type">
    </video>
  </section>
  <section class="list">
    <cdk-virtual-scroll-viewport class="viewport">
      <ng-container>
        <mat-list>
          <ng-container>
            <div class="spinner" *ngIf="!loaded">
              <mat-spinner [mode]="'indeterminate'" [color]="'primary'"></mat-spinner>
            </div>
            <div class="mat-list-padding" *ngIf="loaded">
              <mat-list-item id="item" *ngFor="let video of videos">
                <a target="_self" (click)="getVideoById(video)">{{ video }}</a>
              </mat-list-item>
            </div>
          </ng-container>
        </mat-list>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </section>
</main>

<router-outlet></router-outlet>
