<mat-toolbar
  [ngClass]="{'dark-theme': themeSelected.value === 'dark-theme', 'light-theme': themeSelected.value === 'light-theme'}">
  <div class="inline">
    <div class="material-symbols-outlined">Cast</div>
    <h3 class="title">Streaming Service</h3>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="palette">
    <mat-slide-toggle [hideIcon]="true" (checked)="checked" (change)="switchTheme($event)"
      (toggleChange)="themeSelected">
      {{ themeSelected | async }}
    </mat-slide-toggle>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

<!--
  <main>
  <section class="list">
    <cdk-virtual-scroll-viewport class="viewport">
      <ng-container>
        <mat-list>
          <ng-container>
            <div class="spinner" *ngIf="!loaded">
              <mat-spinner [mode]="'indeterminate'" [color]="'primary'"></mat-spinner>
            </div>
            <div class="mat-list-padding" *ngIf="loaded">
              <mat-list-item id="item" *ngFor="let video of videos">
                <a target="_self" (click)="getVideoById(video)">{{ video }}</a>
              </mat-list-item>
            </div>
          </ng-container>
        </mat-list>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </section>
  <router-outlet></router-outlet>
</main>
-->
<!-- <main class="inline-content"
  [ngClass]="{'dark-theme': themeSelected.value === 'dark', 'light-theme': themeSelected.value === 'light'}">
  <section class="video" *ngIf="src">
    <video id="player" buffered controls autoplay [src]="src">
      <source [type]="type">
    </video>
  </section>

</main> -->


<!--
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
 -->
