<mat-toolbar class="mat-app-background inline-toolbar" [ngClass]="{'dark-theme': (isDarkTheme | async) === false, 'light-theme': ( isDarkTheme | async) === true}">
  <div class="title">
    <span class="material-symbols-outlined">cast_connected</span>
    <h3>Streaming Service</h3>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="palette" [ngClass]="{'dark-theme': (isDarkTheme | async) === false, 'light-theme': ( isDarkTheme | async) === true}">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Palette Icon" fontIcon="palette"></mat-icon>
        <mat-slide-toggle [hideIcon]="true" [checked]="isDarkTheme | async" (change)="toggleTheme($event.checked)"
          (toggleChange)="'{{themeSelected | async}}'">
          {{ themeSelected | async }}
        </mat-slide-toggle>
      </button>
      <button mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Person Icon" fontIcon="person"></mat-icon>
        Account Settings...
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

