<main class="mat-app-background dark-theme inline">
  <section class="video">
    <video buffered controls autoplay [src]="src">
      <source [type]="type">
    </video>
    <span>{{song}}</span>
  </section>
  <section class="list">
    <cdk-virtual-scroll-viewport class="viewport">
      <ng-container>
        <mat-list>
          <ng-container>
            <div *ngIf="loaded.value === false" class="spinner">
              <mat-spinner [mode]="'indeterminate'"></mat-spinner>
            </div>
            <div class="mat-list-padding">
              <div class="loaded" *ngIf="loaded">
                <mat-list-item id="item" *ngFor="let video of videos">
                  <!-- <mat-icon aria-hidden="false" aria-label="Palette Icon" fontIcon="lyrics"></mat-icon> -->
                  <a target="_self" (click)="getVideoById(video); switchTheme({checked: true})">{{ video
                    }}</a>
                </mat-list-item>
              </div>
            </div>
          </ng-container>
        </mat-list>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </section>
  <span class="version">Current build: {{ version }}</span>
</main>
