<main class="mat-app-background dark-theme inline"
  [ngClass]="{'dark-theme': (themeSelected | async) === 'Dark', 'light-theme': ( themeSelected | async) === 'Light'}">
  <section class="video"
    [ngClass]="{'dark-theme': (themeSelected | async) === 'Dark', 'light-theme': ( themeSelected | async) === 'Light'}">
    <video buffered controls autoplay [src]="src">
      <source [type]="type">
    </video>
  </section>
  <section class="song-name">
    <span>{{song}}</span>
  </section>
  <section class="list"
    [ngClass]="{'dark-theme': (themeSelected | async) === 'Dark', 'light-theme': ( themeSelected | async) === 'Light'}">
    <cdk-virtual-scroll-viewport itemSize="10" class="viewport">
      <ng-container>
        <mat-list>
          <ng-container>
            <div *ngIf="'{{(loading | async) !== true}}'" class="spinner">
              <mat-spinner [color]="'warn'" [mode]="'indeterminate'"></mat-spinner>
            </div>
            <div class="mat-list-padding">
              <div class="loaded" *ngIf="'{{(loading | async) === false}}'">
                <mat-list-item id="item" *ngFor="let video of videos">
                  <!-- <mat-icon aria-hidden="false" aria-label="Palette Icon" fontIcon="lyrics"></mat-icon> -->
                  <a target="_self" (click)="getVideoById(video)">{{ video }}</a>
                </mat-list-item>
              </div>
            </div>
          </ng-container>
        </mat-list>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </section>
  <span
    [ngClass]="{'dark-theme': (themeSelected | async) === 'Dark', 'light-theme': ( themeSelected | async) === 'Light'}"
    class="version">Current build: {{ version }}</span>
</main>
<router-outlet></router-outlet>
