// @import "../../custom-theme.scss";

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
  font-size: 2em;
  line-height: 2em;
  display: grid;
  grid-area: icon;
}

.inline {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 85% 5% 5%;
  grid-template-areas: "player videos" "song-name videos" "build build";
  width: 100%;
  height: 100%;
}

.video {
  display: grid;
  grid-area: player;
  border: 1px solid;
}

video {
  width: 100%;
  max-height: 640px;
  position: relative;
}

.spinner {
  display: inline-block;
  visibility: visible;
  padding: 2em;
  width: auto;
  height: auto;
  color: warn; // #4c7684;
  // border: 1px solid map-get($map: $dark-theme, $key: $warn);

}

.mdc-circular-progress__indeterminate-container {
  display: inline-block;
  visibility: visible;
  padding: 1em;
}

.list {
  display: grid;
  grid-area: videos;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-inline: 0;
  writing-mode: sideways-lr;
  direction: ltr;
  overflow-y: hidden;
  border: 1px solid;
}

.list mat-list mat-list-item>a {
  // margin: .5em;
  // padding: .5em;
  font-size: 1em;
  line-height: 1em;
  text-overflow: ellipsis;
  padding-inline: .5em .5em;
  writing-mode: horizontal-tb;
  direction: rtl;
  margin-inline: .5em .5em;
  writing-mode: sideways-lr;
  cursor: pointer;
}

.mat-mdc-list-item {
  margin-bottom: .5em;
  font-weight: 400;
  color: #767b7d;
}

#item::after {
  // BREAK LINE AFTER EACH LINK
  content: "\a";
  white-space: pre;
}

.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1em;
}

.viewport {
  width: 100%;
  margin: auto;
  padding: 1em;
  height: 720px;
  min-height: 720px;
  overflow-y: scroll;
}

.viewport::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.viewport::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // border-radius: 10px;
  // background-color: mat-color($accent);
  display: none;
}

.viewport::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #373a3b;
}

.song-name {
  grid-area: song-name;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  text-overflow: ellipsis;
  border: 1px solid red;
  justify-items: flex-start;
}

.version {
  display: flex;
  grid-area: build;
  width: 100%;
  border: 1px solid;
  padding: .3em;
  border: 1px solid red;
}
