.container{
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "toolbar toolbar"
                        "sidenav main";
  width: 100%;
  height: 100%;

}

.mat-toolbar{
  display: grid;
  grid-area: toolbar;
  width: 100%;
  height: auto;
  line-height: 14px;
  background-color:  #353535;
}

.logo{
  display: inline-flex;
  align-self: flex-start;
  justify-content: flex-start;
  margin: 10px;
  height: 32px;
}

.logo span:nth-child(1){
  vertical-align: middle;
  fill: rgb(211, 208, 208);
}

.logo span:nth-child(2){
  margin-top: 4px;
  line-height: 32px;
  color: rgb(211, 208, 208);
}

.mat-sidenav-container{
  display: grid;
  grid-area: sidenav;
  background-color: #545657;
}

.mat-sidenav-content{
  padding: 1em;
}

.mat-grid-list{
  display: grid;
  grid-area: main;
  background-color: #545657;
}

video{
  height: 100%;
  max-height: 100%;
  width: 100%;
  background-color: black;
  /* margin: 10% auto auto 20%; */
}

ul {
  display: grid;
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0%;
}

ul li{
  text-decoration: none;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom-style: inset;
  border-bottom-color: rgb(204, 199, 199);
}

.mat-expansion-panel{
  background-color: #545657;
  max-height: 320px;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 6px;
  border-radius: 4px;
}

h3{
  color: rgb(204, 199, 199);
}

a{
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

a:hover{
  color: rgb(204, 199, 199);
}

input[type="file"]{
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.upload{
  /* border: 1px solid; */
  display: inline-flexbox;
  height: 64px;
}

.browse{
  display: inline-block;
  width: 100%;
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  text-align: left;
  margin-right: 1em;
  /* border: 1px solid; */
  color: rgb(255, 255, 255);
}

.browse:hover{
  cursor: pointer;
  color: rgb(204, 199, 199);
}

button[type="submit"]{
  background-color: transparent;
  border-color: transparent;
  float: right;
  line-height: 64px;
}

button[type="submit"]:hover{
  cursor: pointer;
  fill: rgb(204, 199, 199);
}

button[type="submit"]:nth-child(1){
  cursor: pointer;
  color: rgb(211, 208, 208);
}

span{
  color: rgb(204, 199, 199);
}

input[type="submit"]{
  display: inline-block;
  width: auto;
  height: 64px;
  padding: 1em;
  /* border: 1px solid; */
  border-radius: 6px;
}
