<main class="mat-app-background inline" [ngClass]="{'dark-theme': (themeSelected | async) === 'dark-theme', 'light-theme': ( themeSelected | async) === 'light-theme'}">
  <section class="video">
    <video buffered controls autoplay [src]="src">
      <source [type]="type">
    </video>
  </section>
  <section class="song-name">
    <span>{{song}}</span>
  </section>
  <section class="list">
    <cdk-virtual-scroll-viewport itemSize="1" class="viewport">
      <ng-container>
        <mat-list>
          <ng-container>
            <div *ngIf="!loading" class="spinner">
              <mat-spinner [color]="'warn'" [mode]="'indeterminate'"></mat-spinner>
            </div>
            <div class="">
              <div class="loaded" *ngIf="loading">
                <mat-list-item id="item" *ngFor="let video of videos">
                  <mat-icon aria-hidden="false" aria-label="Palette Icon" fontIcon="lyrics"></mat-icon>
                  <a target="_self" (click)="getVideoById(video)">{{ video }}</a>
                </mat-list-item>
              </div>
            </div>
          </ng-container>
        </mat-list>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </section>
  <span
    class="version">Current build: {{ version }}</span>
</main>
<router-outlet></router-outlet>
