@import "../../../custom-theme.scss";
@include primary;
@include accent;
@include warn;
@include light-theme;

.inline {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 80% 5% 5%;
  grid-template-areas: "player videos"
    "song-name videos"
    "build build";
  width: 100%;
  height: 100%;
}

.video {
  grid-area: player;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 720px;
  height: 560px;
  position: absolute;
}

.spinner {
  display: inline-block;
  visibility: visible;
  padding: 2em;
  width: auto;
  height: auto;
  color: warn; // #4c7684;
  // border: 1px solid map-get($map: $dark-theme, $key: $warn);

}

.mdc-circular-progress__indeterminate-container {
  display: inline-block;
  visibility: visible;
  padding: 1em;
}

.list {
  grid-area: videos;
  height: 100%;
  width: 100%;
  max-width: 100%;
  // padding-inline: 0;
  // writing-mode: sideways-lr;
  // direction: ltr;
  // overflow-y: hidden;
}

.list mat-list-item {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-self: center;
}

.list mat-icon {
  height: auto;
  line-height: auto;
  margin-top: 1em;
}

.list mat-list-item>a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
  // padding-inline: .1em .2em;
  // writing-mode: sideways-lr;
  // direction: rtl;
  // margin-inline: .5em .5em;
  // writing-mode: sideways-lr;
  cursor: pointer;
}

.list mat-list-item>.icon {
  display: flex;
  flex-direction: row;
}

.mat-mdc-list-item {
  padding: .5em;
  font-weight: 400;
  color: #767b7d;
}

#item::after {
  // BREAK LINE AFTER EACH LINK
  content: "\a";
  white-space: pre;
}

.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1em;
}

.viewport {
  width: 100%;
  margin: auto;
  padding: 1em;
  height: 720px;
  min-height: 720px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
}

.viewport::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.viewport::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // border-radius: 10px;
  // background-color: mat-color($accent);
  display: none;
}

.viewport::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #373a3b;
}

.song-name {
  display: grid;
  grid-area: song-name;
  height: 2em;
  line-height: 2em;
  text-overflow: ellipsis;
}

.song-name>span {
  margin-left: 1em;
}

.version {
  grid-area: build;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 2em;
  line-height: 2em;
  padding-right: 1em;
  font-style: italic;
  color: warn;
}
